body {
    height: 100vh;
    background-color: black;
}

#subtitles {
    display: flex;
    color: white;
    height: 5em;

    .person {
        &::after {
            content: ":";
            display: block;
        }
    }

    .person, .text {
        opacity: 0;
        position: absolute;
        animation: var(--duration) --show-text;
        animation-delay: var(--delay);
        
    }
}

@keyframes --show-text {
    0%, 100% {opacity: 1;}
}


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions {
    position: relative;
    left: 20em;
    top: 0em;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
    color: white;
    font-size: 18px;
    letter-spacing: .5px;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

#down {
    top: -18px;
}


/* delaying words */
#closed-captions p:nth-of-type(1) {
    & span:nth-of-type(n + 3){
        opacity: 0;
    }

    &.on span:nth-of-type(n + 3) {
        opacity: 1;
        transition: 0s .5s;
    }
}


/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* upbeat country song */
.sound1 {
    animation: .475s song1 infinite;
}

@keyframes song1 {
    0% {background-color: #eb5834;}
    100% {background-color: #ed7458;}
}

/* turn off song animation */
.sound2 {
    animation: none;
}

/* show footprints walking */
#footprint {
    display: none;
    transition: none;
    filter: invert(1);
}

.sound2 #footprint {
    display: block;
    position: absolute;
    left: -3em;
    top: 30em;
    transform: 
        rotate(-90deg)
        scale(.2);
    animation: 2s animate-steps infinite;
}

.sound3 #footprint {
    display: none;
}

.sound4 iframe {
    animation: 1s heartbeat infinite;
}

.sound5 iframe {
    animation: none;
}

.sound6 {
    .wind {
        background-color: white;
        position: absolute;
        z-index: 0;
    }
}

.sound7 {
    .wind {
        animation: none;
        display: none;
    }
}

.sound8 {
    animation: background 10s linear;
    iframe {
        animation: effect 10s linear;
    }
}

.sound9 {
    animation: none;
    iframe {
        animation: none;
    }
}

@keyframes animate-steps {
    0%, 19% {
        left: -3em;
        top: 30em;
        transform: rotate(-90deg) scale(.2);
    }
    20%, 39% {
        left: -1em;
        top: 28em;
        transform: rotate(-90deg) scale(.2)
            scaleY(-1);
    }
    40%, 59% {
        left: -3em;
        top: 26em;
        transform: rotate(-90deg) scale(.2);
    }
    60%, 79% {
        left: -1em;
        top: 24em;
        transform: rotate(-90deg) scale(.2)
            scaleY(-1);
    }
    80%, 100% {
        left: -3em;
        top: 22em;
        transform: rotate(-90deg) scale(.2);
    }
}

@keyframes heartbeat {
    0%, 20%, 40%, 100% {scale: 1;}
    10%, 30% {scale: 1.01;}
}

@keyframes blow {
    0% {transform: translate(150vw);}
    100% {transform: translate(-50vw);}
}

@keyframes background {
    0%, 100% {background: black;}
    80% {background: white;}
}

@keyframes effect {
    0%, 100% {
      filter: saturate(1) brightness(1);
    }
    80% {
      filter: saturate(2) brightness(5);
    }
  }

/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
}
#video-container {
    height: 85vh;
	margin: auto;
}
#video-mask {
    height: 100%;
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
    justify-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
    z-index: 1;
}
